@import '../styles/palette.scss';

.bg {
  &__container {
    padding: 0;

    img + em {
      text-align: center;
      display: block;
      margin-top: -2em;
      font-size: 0.75em;
      opacity: 0.6;
      color: $dark;
      line-height: 1.8em;

      a {
        color: $dark;
      }
    }

    blockquote {
      border-left: 2px solid #212121;
      padding-left: 25px;
      margin-bottom: 2em;
      margin-left: 0;
      margin-right: 0;
    }

    .divider {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3.85em;
      margin-top: 3.85em;

      &, &:after, &:before {
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background: $dark;
        position: relative;
      }

      &:after, &:before {
        content: "";
        position: absolute;
        display: inline-block;
      }

      &:after {
        left: -50px;
      }

      &:before {
        right: -50px;
      }
    }

    ol {
      margin-bottom: 1.82em;
      margin-left: 1.7em;
      font-weight: 300;

      li {
        margin-bottom: 0.6em;
        line-height: 1.85em;
      }
    }

    ul, ol {
      li {
        font-weight: 300;
      }
    }

    h1:not(.bg__main-title) {
      font-size: 1.5em;
      margin-bottom: 0.6em;
      margin-top: 2.2em;
    }

    h2:not(.bg__main-subtitle) {
      font-size: 21px;
      margin-bottom: 0.75em;
    }

    h3 {
      font-size: 1em;
    }

    h4 {
      line-height: 1.75em;
    }

    .twitter-tweet {
      margin-left: auto;
      margin-right: auto;
    }

    .instagram-media {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  &__main-title {
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 600;
    margin-bottom: 0.6em;
  }

  &__main-subtitle {
    font-weight: 500;
    font-size: 1em;
    opacity: 0.5;
    line-height: 1.8em;
    margin-bottom: 0;
  }

  &__date {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.3;
    font-weight: 600;
    margin-bottom: 13px;
    display: block;
  }

  &__bio {
    margin-top: 4em;
    margin-bottom: 0;
  }

  &__bio-separator {
    display: inline-block;
    background: $dark;
    height: 2px;
    width: 50px;
    margin-bottom: 4em;

    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.post-promo {
  background: #F7FBFF;
  padding: 2.5em 0;

  &__header {
    font-size: 1.4em;
    margin-bottom: 1em;
  }
}

@media (min-width: 576px) {
  .post-promo {
    padding: 1.5em 0;
  }

  .bg {

    &__container {
      padding: 2.5em 0.5em;

      blockquote {
        margin: 0 1.45em 1.95em;
      }

      .divider {
        margin-bottom: 3.85em;
        margin-top: 3.85em;
      }
    }

    &__bio {
      margin-bottom: 1em;
    }

    &__bio-separator {
      margin-left: initial;
      width: 110px;
    }

  }
}
