@import './palette.scss';

.as-header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.82rem;
  color: inherit;
  font-family: 'Montserrat','Arial',sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

.as-body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.82rem;
  font-family: 'Merriweather',serif;
}

.cta-button {
  background-color: $primary;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 30px;
  color: white;
  height: 52px;
  border-radius: 2px;
  transition: background-color ease 0.25s;
  min-width: 100%;

  &:hover {
    background-color: #e6493b;
  }
}

.cr-input {
  width: 100%;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  color: #222222;
  padding: 0 16px;
  height: 52px;
  transition: border-color ease 0.35s;
  border: 1px solid #dbe3e9;

  &:focus {
    border-color: rgba($dark, 0.6);
  }
}

.cr-input--gray {
  background: #f7f7f7;
  border: 1px solid #eaeaea;
}
