.headline {
  font-size: 30px;
}

.sub-headline {
  font-size: 20px;
  line-height: 1.75em;
  font-weight: 500;
}

.subscribe-line {
  font-style: italic;
  font-size: 14px;
}

.main-container {
  margin-bottom: 35px;
  padding-top: 3em;
}

.profile-pic {
  position: relative;
  top: -1em;

  &__img {
    border-radius: 2px;
    box-shadow: 0 1px 52px -11px rgba(0,0,0,0.4);
  }
}

.latest {
  background: #fbfbfb;
  padding-top: 4em;
  padding-bottom: 4em;

  &__header {
    text-transform: uppercase;
    font-size: 12px;
  }
}
