@mixin initial-fade-in-state {
  opacity: 0;
  transform: translateY(15px);
  animation: notyf-page-fade-in-up cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s forwards;
}


.notyf-ctti-banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include initial-fade-in-state;
  animation-delay: 1.2s;
}

.notyf-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #232C56, #3C3E89);
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 68px;

  h1 {
    @include initial-fade-in-state;
    animation-delay: 0.2s;
    font-size: 3.88em;
  }

  h2 {
    font-weight: 400;
    line-height: 1.8em;
    font-size: 1.22em;
    margin-bottom: 2em;
    @include initial-fade-in-state;
    animation-delay: 0.35s;
  }

  &__docs {
    margin-bottom: 1.4em;
    @include initial-fade-in-state;
    animation-delay: 0.5s;

    a {
      background: rgba(255, 255, 255, 0.06);
      border: 1px solid rgba(255, 255, 255, 0.13);
      border-radius: 3px;
      color: white;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 17px;
      transition: ease 0.25s background;
      text-decoration: none;
      display: inline-flex;

      &:hover {
        background: rgba(255, 255, 255, 0.10);
      }

      span {
        font-weight: 500;
        margin: 0;
        font-size: 0.83em;
        margin-right: 15px;
      }
    }
  }

  &__dots {
    position: absolute;
    left: -46px;
    bottom: -80px;
    pointer-events: none;
    @include initial-fade-in-state;
    animation-delay: 0.85s;
  }

  &__credits {
    font-size: 0.72em;
    font-weight: 600;
    margin: 0;
    @include initial-fade-in-state;
    animation-delay: 0.65s;
    &:hover {
      color: inherit;
    }
  }

  &__left {
    position: relative;
  }

  &__controller {
    width: 290px;
    background: rgba(255, 255, 255, 0.08);
    padding: 1em;
    border-radius: 4px;
    @include initial-fade-in-state;
    animation-delay: 0.55s;

    section {
      margin-bottom: 1.3em;
    }

    label {
      font-size: 0.5em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.8px;
      color: rgba(255, 255, 255, 0.5);
      display: block;
      margin-bottom: 13px;
    }

    input[type=text], input[type=number] {
      height: 42px;
      border-radius: 2px;
      padding: 0 1em;
      background: rgba(255, 255, 255, 0.18);
      border: 1px solid transparent;
      width: 100%;
      font-size: 0.77em;
      font-weight: 500;
      transition: ease 0.25s border-color;
      margin: 0;

      &:focus {
        border-color:rgba(255, 255, 255, 0.58);
      }
    }

    input[type=radio], input[type=checkbox] {
      position: relative;
      width: 16px;
      height: 16px;
      appearance: none;
      outline: 0;
      margin: 0;
      border: 1px solid #fff;
      cursor: pointer;
      margin-right: 9px;
      transition: opacity 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
      opacity: 0.5;
      color: #fff;

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 1px;
        background: white;
        transform: scale(0);
        transition: transform 0.05s ease;
      }
      &:checked {
        opacity: 1;
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }

      ~ label {
        color: #fff;
        text-transform: none;
        letter-spacing: 0;
        font-size: 0.77em;
        font-weight: 500;
        margin: 0;
        cursor: pointer;
      }
    }

    input[type=radio] {
      border-radius: 50%;

      &::before {
        border-radius: 50%;
      }
    }

    input[type=checkbox] {
      border-radius: 2px;

      &::before {
        border-radius: 1px;
      }
    }
  }

  &__cta {
    background-color: #E54087;
    color: white;
    height: 42px;
    border: none;
    width: 100%;
    font-size: 0.83em;
    font-weight: 600;
    margin-bottom: 0;
    transition: background-color 0.2s ease;
    border-radius: 3px;

    &:hover {
      background-color: darken(desaturate(#E54087, 10), 3);
    }
  }

  &__things {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include initial-fade-in-state;
    animation-delay: 0.9s;
  }

  &__thing {
    position: absolute;

    &--circle-1 {
      opacity: 0.07;
      top: 230px;
      left: -20px;
    }

    &--double-zigzag {
      opacity: 0.17;
      top: 30px;
      left: 330px;
    }
    
    &--upper-cross {
      opacity: 0.4;
      top: -20px;
      left: 0px;  
    }
    
    &--lower-cross {
      opacity: 0.12;
      bottom: -40px;
      right: 360px;  
    }

    &--triangle {
      opacity: 0.13;
      top: 250px;
      right: 40px;
    }

    &--circle-2 {
      opacity: 0.12;
      top: -80px;
      right: -20px;
    }

    &--line-1 {
      top: -74px;
      left: 6px;
    }

    &--line-2 {
      opacity: 0.12;
      top: -90px;
      right: 10px;
      transform: rotate(90deg);
    }

    &--triple-zigzag {
      bottom: -50px;
      right: 0;
    }
  }
}

.notyf__message {
  font-size: 0.9em;
  font-family: 'Montserrat','Arial',sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .notyf-ctti-banner {
    position: relative;
    animation: none;
    opacity: 1;
    transform: none;
  }

  .notyf-page {
    height: initial;
    padding: 3em 0;

    &__controller {
      width: 100%;
    }

    &__controller-wrapper {
      width: 100%;
    }

    &__thing {
      &--double-zigzag {
        top: 30px;
        left: 250px;
      }

      &--line-2 {
        top: -40px;
        right: 50px;
      }

      &--circle-2 {
        top: -31px;
        right: 20px;
      }

      &--line-1 {
        top: 450px;
        left: 10px;
      }

      &--upper-cross {
        top: 500px;
        left: 4px;
      }

      &--triple-zigzag {
        bottom: 250px;
        right: 26px;
        opacity: 0.2;
      }
    }

    &__docs {
      &, a {
        width: 100%;
      }
    }
  }
}

@keyframes notyf-page-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: initial;
    transform: translateY(0);
  }
}
